<script type="text/javascript" src="plugins/SearchMonitor/javascripts/GetKeywordRelatedInfo.js"></script>
<div id='MyTWGetKeywordRelatedInfo'>

    {% import "ajaxMacros.twig" as ajax %}

    <div>
        <p>
            This Graphic shows the search result information related to specific keywords.<br> <br>
            When you click a keyword in the list, you can see top 10 content titles, people names and group names user clicked. If content/people/group are less than 10, it just show the available ones.<br>
        </p>
    </div>
    <div class="content">
        <div id="keyword-list">

        </div>
        <div id="loadingNow">
            Loading...
        </div>
        <div class="info">
            <div class="tab">
                <button id="contentInfo" class="tablinks" onclick="showInfo(event, '#content-url-list')">CONTENT
                </button>
                <button id="peopleInfo" class="tablinks" onclick="showInfo(event, '#people-url-list')">PEOPLE</button>
                <button id="groupInfo" class="tablinks" onclick="showInfo(event, '#group-url-list')">GROUP</button>
            </div>

            <table id="content-url-list" class="tabcontent"></table>
            <table id="people-url-list" class="tabcontent"></table>
            <table id="group-url-list" class="tabcontent"></table>

        </div>
    </div>
</div>
<script>

</script>