<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script type="text/javascript" src="plugins/SearchMonitor/javascripts/generateLineChart.js"></script>

<style>
    .chart-wrapper {
        position: relative;
        height: 300px;
    }
</style>
<div class="card">
    <h2 style="margin:18px;">{{ name }}</h2>
    <div style="margin:0 18px;">{{documentation|raw}}</div>
    <div class="card-content">

    </div>
</div>
