<script type="text/javascript" src="plugins/MyThoughtWorks/javascripts/Chart.js"></script>

<script>
    (function ($, require) {
        $(document).ready(function () {
            var repeatingCountRequest = new ajaxHelper();
            var startDateObj = new Date(piwik.startDateString);
            var minusDateNum = 30;
            var period = piwik.period;

            if (period == 'week') {
                minusDateNum = 140;
            } else if (period == 'month') {
                startDateObj.setDate(1);
                startDateObj.setMonth((startDateObj.getMonth() + 1) % 12 + 1);
                minusDateNum = 365;
            } else if (period == 'year') {
                minusDateNum = 1000;
            } else if (period == 'range') {
                minusDateNum = 0;
                period = 'day';
            }

            startDateObj.setDate(startDateObj.getDate() - minusDateNum);

            var startDate = function (startDateObj) {
                var d = new Date(startDateObj),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            };
            var repeatingRateRequest = new ajaxHelper();

            repeatingRateRequest.addParams({
                module: 'API',
                method: 'MyThoughtWorks.getRepeatingSearchRate',
                format: 'json',
                date: startDate(startDateObj) + "," + piwik.endDateString,
                period: period
            }, 'get');
            repeatingRateRequest.setCallback(function (response) {
                var parsedObj = response;
                var labels = parsedObj.map(function (e) {
                    return e['label']
                });
                var repeating_rate = parsedObj.map(function (e) {
                    return parseFloat(e['repeating_rate']) * 100
                });
                var ctx = document.getElementById("chart1").getContext("2d");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                type: 'line',
                                label: 'repeating rate (%)',
                                data: repeating_rate,
                                fill: false,
                                lineTension: 0,
                                borderColor: "red",
                                borderWidth: 2,
                                backgroundColor: "rgba(255,0,0,0.7)"
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            });
            repeatingRateRequest.send(false);

            repeatingCountRequest.addParams({
                module: 'API',
                method: 'MyThoughtWorks.getRepeatingSearchCount',
                format: 'json',
                date: startDate(startDateObj) + "," + piwik.endDateString,
                period: period
            }, 'get');
            repeatingCountRequest.setCallback(function (response) {
                var parsedObj = response;
                var labels = parsedObj.map(function (e) {
                    return e['label']
                });
                var repeating_search_count = parsedObj.map(function (e) {
                    return e['repeating_search_count']
                });
                var total_search_count = parsedObj.map(function (e) {
                    return e['total_search_count']
                });
                var ctx = document.getElementById("chart2").getContext("2d");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                type: 'line',
                                label: 'repeating search count',
                                data: repeating_search_count,
                                fill: false,
                                lineTension: 0,
                                borderColor: "red",
                                borderWidth: 2,
                                backgroundColor: "rgba(255,0,0,0.7)"
                            },
                            {
                                type: 'line',
                                label: 'total search count',
                                data: total_search_count,
                                fill: false,
                                lineTension: 0,
                                borderColor: "rgba(0,177,177,1)",
                                backgroundColor: "rgba(0,177,177,0.7)",
                                borderWidth: 2
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            });
            repeatingCountRequest.send(false);
        });

    })($, require);
</script>
<style>
.chart-wrapper{
    position:relative;
    height: 200px;
}
</style>
<div class="card">
    <h2 style="margin:18px;">{{ name }}</h2>
    <p style="margin:18px;">{{ doc|raw }}</p>
    <div class="card-content">
        <div class="chart-wrapper">
            <canvas id="chart1"></canvas>
        </div>
        <div class="chart-wrapper">
            <canvas id="chart2"></canvas>
        </div>
    </div>
</div>
